<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La mejor página de los Boston Celtics que verás" />
    <meta name="robots" content="FOLLOW" />
    <meta name="Author" content="Inok" /> 
    <meta name="keywords" content="Celtics,Estadio,Equipacion,Historia,Plantilla,Títulos" /> 
    <meta name="revisit-after" content="2 days" />
    <title>Boston Celtics - Equipación</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <main>
        <header>
                <a href="../index.html">
                 <img src="../assets/img/boston-celtics-logo-1.png" alt="logo" class="logo">
                 </a>
            <nav>
                <ul>
                     <li><a class="home" href="../index.html">Home</a></li>
                    <li><a class="equipacion activo" href="equipacion.html">Equipacion</a></li>
                    <li><a class="estadio"  href="estadio.html">Estadio</a></li>
                    <li><a class="plantilla" href="plantilla.html">Plantilla</a></li>
                    <li><a class="historia" href="historia.html">Historia</a></li>
                    <li><a class="titulos" href="titulos.html">Títulos</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h2 class="equipacionblanca">Equipación Blanca</h2>
            <a href="equipacionblanca.html">
           <img src="https://images.footballfanatics.com/boston-celtics/boston-celtics-nike-association-edition-swingman-jersey-white-jayson-tatum-unisex_ss4_p-13348841+pv-1+u-t8ts8t8vey80fqdo69lq+v-e39bfa38eb7d48ba86d6dcda2a166abd.jpg?_hv=2&w=600" alt="" class="blanca">         
            </a>
            <h2 class="equipacionoscura">Equipación Negra</h2>
            <a href="equipacionnegra.html">
            <img src="https://cdn.grupoelcorteingles.es/SGFM/dctm/MEDIA03/202303/13/00199455206922____1__1200x1200.jpg" alt="equipacion negra" class="negra">   
           </a>
           <h2 class="equipacionverde">Equipación Verde</h2>
            <a href="equipacionverde.html">
            <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTT7rofdRq6m1ZHRVZYyGeUBFE_f5_gsU60e7-0HbBdoSQ03EOA7aM9aRcnPcR-2Ixb6aJT7b2UfRPQPreCGelJ5hh-BfOmq23YJcvza2fnL9Zio6p6OKBBhWrgsLha09zbYp7jLQ&usqp=CAc" alt="equipacion verde" class="verde">
            </a>
        </section>
        <aside></aside>
         <footer>
        <p class="p1">© 2025 Boston Celtics. Todos los derechos reservados.</p>
        <p class="p2">siguenos en nuestras redes sociales</p>
        <a href="https://www.facebook.com/bostonceltics/" target="_blank"><img src="../assets/img/facebook.png" alt="facebook" class="facebook"></a>
        <a href="https://www.twitter.com/bostonceltics/" target="_blank"><img src="../assets/img/twitter (1).png" alt="twitter" class="twitter"></a>
        <a href="https://www.instagram.com/celtics/" target="_blank"><img src="../assets/img/instagram.png" alt="instagram icons" class="instagram"></a>
        <a href="https://www.tiktok.com/@celtics/" target="_blank"><img src="../assets/img/tik-tok.png" alt="tiktok" class="tiktok"></a>
        <a href="https://www.youtube.com/bostonceltics/" target="_blank"><img src="../assets/img/youtube.png" alt="youtube" class="youtube"></a>
        </footer>
    </main>
</body>
</html>