<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La mejor página de los Boston Celtics que verás" />
    <meta name="robots" content="FOLLOW" />
    <meta name="Author" content="Inok" /> 
    <meta name="keywords" content="Celtics,Estadio,Equipacion,Historia,Plantilla,Títulos" /> 
    <meta name="revisit-after" content="2 days" />
    <title>Boston Celtics - Equipación</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <main>
        <header>
                <a href="equipacion.html">
                 <img src="../assets/img/boston-celtics-logo-1.png" alt="logo" class="logo">
                 </a>
        </header>
         <nav>
                <ul>
                     <li><a class="home" href="../index.html">Home</a></li>
                    <li><a class="equipacion activo" href="equipacion.html">Equipacion</a></li>
                    <li><a class="estadio"  href="estadio.html">Estadio</a></li>
                    <li><a class="plantilla" href="plantilla.html">Plantilla</a></li>
                    <li><a class="historia" href="historia.html">Historia</a></li>
                    <li><a class="titulos" href="titulos.html">Títulos</a></li>
                </ul>
        </nav>
        <section>
            <h2></h2>
        </section>
        <aside></aside>
         <footer></footer>
    </main>
</body>
</html>