<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La mejor página de los Boston Celtics que verás" />
    <meta name="robots" content="FOLLOW" />
    <meta name="Author" content="Inok" /> 
    <meta name="keywords" content="Celtics,Estadio,Equipacion,Historia,Plantilla,Títulos" /> 
    <meta name="revisit-after" content="2 days" />
    <title>Boston Celtics - Estadio</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <main>
        <header>
                <a href="../index.html">
                 <img src="../assets/img/boston-celtics-logo-1.png" alt="logo" class="logo">
                 </a>
        </header>
            <nav>
                <ul>
                     <li><a class="home" href="../index.html">Home</a></li>
                    <li><a class="equipacion" href="equipacion.html">Equipacion</a></li>
                    <li><a class="estadio activo"  href="estadio.html">Estadio</a></li>
                    <li><a class="plantilla" href="plantilla.html">Plantilla</a></li>
                    <li><a class="historia" href="historia.html">Historia</a></li>
                    <li><a class="titulos" href="titulos.html">Títulos</a></li>
                </ul>
            </nav>
        <section>
            <h2 class="#TD">TD Garden</h2>
            <div class="contenedorTD">
            <p>El TD Garden es el hogar de los Boston Celtics y uno de los escenarios deportivos más emblemáticos de Estados Unidos.<br>
            Ubicado en el corazón de Boston, Massachusetts, el TD Garden abrió sus puertas en 1995 y desde entonces ha sido el<br> epicentro de la pasión celta. Con una capacidad para más de 18,000 espectadores en partidos de baloncesto, este<br> moderno pabellón ha sido testigo de inolvidables momentos de gloria, intensas rivalidades y el rugido de una afición legendaria.<br>
            Además de albergar a los Celtics, el TD Garden también es sede de los Boston Bruins de la NHL, lo que lo convierte en un punto<br> neurálgico del deporte en la ciudad. Su atmósfera vibrante, tecnología de última generación y rica historia lo consolidan como un<br> lugar imprescindible para cualquier fanático del baloncesto.
            </p>
            </div>

            <img src="https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-06/PXL_20220609_010249995.jpg?itok=PsHbI-ZJ" alt="" class="estadioseccion">
        </section>
        <aside>Aside</aside>
         <footer>
        <p class="p1">© 2025 Boston Celtics. Todos los derechos reservados.</p>
        <p class="p2">siguenos en nuestras redes sociales</p>
        <a href="https://www.facebook.com/bostonceltics/" target="_blank"><img src="../assets/img/facebook.png" alt="facebook" class="facebook"></a>
        <a href="https://www.twitter.com/bostonceltics/" target="_blank"><img src="../assets/img/twitter (1).png" alt="twitter" class="twitter"></a>
        <a href="https://www.instagram.com/celtics/" target="_blank"><img src="../assets/img/instagram.png" alt="instagram icons" class="instagram"></a>
        <a href="https://www.tiktok.com/@celtics/" target="_blank"><img src="../assets/img/tik-tok.png" alt="tiktok" class="tiktok"></a>
        <a href="https://www.youtube.com/bostonceltics/" target="_blank"><img src="../assets/img/youtube.png" alt="youtube" class="youtube"></a>
        </footer>
    </main>
</body>
</html>