<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La mejor página de los Boston Celtics que verás" />
    <meta name="robots" content="FOLLOW" />
    <meta name="Author" content="Inok" /> 
    <meta name="keywords" content="Celtics,Estadio,Equipacion,Historia,Plantilla,Títulos" /> 
    <meta name="revisit-after" content="2 days" />
    <title>Boston Celtics - Historia</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <main>
        <header>
                <a href="../index.html">
                 <img src="../assets/img/boston-celtics-logo-1.png" alt="logo" class="logo">
                 </a>
        </header>
            <nav>
                <ul>
                     <li><a class="home" href="../index.html">Home</a></li>
                    <li><a class="equipacion" href="equipacion.html">Equipacion</a></li>
                    <li><a class="estadio"  href="estadio.html">Estadio</a></li>
                    <li><a class="plantilla" href="plantilla.html">Plantilla</a></li>
                    <li><a class="historia activo" href="historia.html">Historia</a></li>
                    <li><a class="titulos" href="titulos.html">Títulos</a></li>
                </ul>
            </nav>
        <section>Section</section>
        <aside>Aside</aside>
         <footer>
        <p class="p1">© 2025 Boston Celtics. Todos los derechos reservados.</p>
        <p class="p2">siguenos en nuestras redes sociales</p>
        <a href="https://www.facebook.com/bostonceltics/" target="_blank"><img src="../assets/img/facebook.png" alt="facebook" class="facebook"></a>
        <a href="https://www.twitter.com/bostonceltics/" target="_blank"><img src="../assets/img/twitter (1).png" alt="twitter" class="twitter"></a>
        <a href="https://www.instagram.com/celtics/" target="_blank"><img src="../assets/img/instagram.png" alt="instagram icons" class="instagram"></a>
        <a href="https://www.tiktok.com/@celtics/" target="_blank"><img src="../assets/img/tik-tok.png" alt="tiktok" class="tiktok"></a>
        <a href="https://www.youtube.com/bostonceltics/" target="_blank"><img src="../assets/img/youtube.png" alt="youtube" class="youtube"></a>
        </footer>
    </main>
</body>
</html>