*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

main{
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 1fr 100px 200px;
    grid-template-areas: 
    "my-header my-header my-header"
    "my-section my-section my-section"
    "my-aside my-aside my-aside"
    "my-footer my-footer my-footer";
}

main section div ul li a img{
    margin: 0 0;
    width: 10px;
    height: 10px;
}

header{
    grid-area: my-header;
    background-color: rgb(0, 130, 72);
}

section{
    grid-area: my-section;
    background-color: rgb(176, 182, 188);
}
aside{
    grid-area: my-aside;
    background-color: rgb(47, 49, 50);
}
footer{
    grid-area: my-footer;
    background-color: black;
}

@media (min-width: 600px) and (max-width: 1000px){
    main{
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: 150px 100px 1fr 100px;
        grid-template-areas:
        "my-header my-header my-header"               
        "my-aside my-section my-section"

        "my-footer my-footer my-footer";
    }
}
@media (min-width: 1001px){
    main{
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: 150px  660px  300px;
        grid-template-areas:
        "my-header my-header my-header" 
        "my-aside my-section my-section"

        "my-footer my-footer my-footer";
    }
}

/*---------------------- HEADER Y NAV --------------------*/
.logo{
    width: 150px;
    height: 150px;
    margin: 50px auto;
    position: relative;
    top: 30px;
}

header nav{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
}

nav ul{
    display: flex;
    padding: auto;
    margin:10px auto;
}

nav ul li{
    margin: 0 30px;
}

nav ul li a{
    color: rgb(244, 244, 244);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

nav ul li a:hover{
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    border: 2px solid rgb(11, 11, 159);
    color: aqua;
}

.activo{
    color: rgb(7, 47, 132); 
}

/*---------------------- SLIDER --------------------*/

.slider-box{
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    z-index: 1;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.slider-box img{
    width: 85%;
    height: 600px;
    object-fit: cover;
    padding: 5px auto;
    position: relative;
    top: -35px;
    left: 98px;
    border: 4px solid black;
    box-shadow: 0px 0px 7px 4px rgb(171, 169, 169);
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/*---------------------- SECCION EQUIPACION --------------------*/
.equipacionblanca{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}

.blanca{
    width: 300px;
    height: auto;
    display: flex;
    margin-top: 0px;
    margin-left: 520px;
    border: 5px solid black;
    box-shadow: 10px 10px 5px grey;
    border-radius: 20px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.blanca:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.negra{
    width: 300px;
    height: auto;
    display: flex;
    margin-left: 20px;
    margin-top: -1px;
    border: 5px solid black;
    box-shadow: 10px 10px 5px grey;
    border-radius: 20px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.negra:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.equipacionoscura{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-top: -336px;
    margin-left: 53px;
    text-decoration: underline;
}

.equipacionverde{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: -337px;
    margin-left: 980px;
    text-decoration: underline;
}
.verde{
    width: 300px;
    height: 300px;
    display: flex;
    margin-top: 0px;
    margin-left: 1010px;
    border: 5px solid black;
    box-shadow: 10px 10px 5px grey;
    border-radius: 20px;
    position: relative;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.verde:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

/*----------------Equipacionblanca-------------------*/
#Cb{
    text-align: center;
    font-size: 2em;
    margin: 20px;
    text-decoration: underline;

}

/*------------------------estadio-----------------------*/
.estadioseccion{
    width: 400px;
    height: 400px;
    margin-left: 850px;
    margin-top: -270px;
    border-radius: 20px;
    border: 2px solid grey;
    box-shadow: 3px 3px 4px black;
}

#TD {  
  font-weight: 700;
  font-style: normal;
    font-size: 3em;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    text-decoration: underline;
}

.contenedorTD{
    width: 700px;
    border: 3px solid black;
    margin-top: 100px;
    margin-left: 20px;
}

/*---------------------- FOOTER --------------------*/
footer .p1{
    color: white;
    text-align: start;
    margin-top: 255px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

footer .p2{
    text-align: end;
    margin-top: -50px;
    color: white;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

.instagram{
    width: 50px;
    height: 50px;
    align-items: end;
}

.facebook{
    width: 50px;
    height: 50px;
    margin-left: 1250px;
}

.twitter{
    width: 50px;
    height: 50px;
    align-self: self-end;
}

.youtube{
    width: 50px;
    height: 50px;
    align-self: self-end;
}

.tiktok{
    width: 50px;
    height: 50px;
    align-self: self-end;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 49, 50);
    padding: 10px 40px;
    margin-top: 40px;
    width: 700px;
    z-index: 3;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.5em;
}

.navbar a:hover {
    background-color: #575757; 
    border-radius: 5px;
}

.dropdown{
    position:relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
    z-index: 4;
} 

.dropdown-content a{
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
background-color: #575757; 
    border-radius: 5px;
}
.dropdown:hover .dropdown-content{
    display: block;
}

@media (max-width:600px) {
     .navbar {
        flex-direction: column;
        align-items:flex-start ;
     }
     .navbar a {
        padding: 10px 0;
     }
}